<div class="container mt-4">

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @pets.each do |pet| %>
  <div class="col">
    <div class="card h-100">
      <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= pet.name %></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <%end%>
</div>

</div>
