<h1 class="text-center d-flex justify-content-center"></h1>
<div id="places" class="container">
  <div class="row">
    <% @places.each do |place| %>
    <div class="col-md-6 col-lg-4">
      <%= render 'place', locals: { place: place } %>
    </div>
    <% end %>
  </div>
</div>
