.btn-primary {
  color: white;
  background-color: #546FFF;
}
.dropdown-menu {
  background-color: gray;
}

.btn-navbar {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.btn-navbar:hover {
  color: #1EDD88;
}
